<a href="https://colab.research.google.com/github/tansriwong/eve/blob/master/API_Call_Weather.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import requests
import csv
import io
import json

import pandas as pd

In [ ]:
url = "https://data.tmd.go.th/nwpapi/v1/forecast/location/daily/at"

querystring = {"lat":"13.7343677", "lon":"100.5299045", "fields":"tc_max,tc_min,rh,rain,cond", "duration":"7"}

headers = {
    'accept': "text/csv",
    'authorization': "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImp0aSI6ImE2N2Q3YjEwZWJjODBkYzkyMjJhZDBmYmZlYzM2ZTA0YTBmZjYxNGFhMTk4MmI4M2YxMTg0YWU1MWY0NjY5NDAyN2Y3ZjgwOWFjMjk2YTU1In0.eyJhdWQiOiIyIiwianRpIjoiYTY3ZDdiMTBlYmM4MGRjOTIyMmFkMGZiZmVjMzZlMDRhMGZmNjE0YWExOTgyYjgzZjExODRhZTUxZjQ2Njk0MDI3ZjdmODA5YWMyOTZhNTUiLCJpYXQiOjE2MTk2OTAxNDAsIm5iZiI6MTYxOTY5MDE0MCwiZXhwIjoxNjUxMjI2MTQwLCJzdWIiOiIxNDIwIiwic2NvcGVzIjpbXX0.oq8SVOPEKyTQR_EM9gxob_UNrjouyWgewoi0rfaaHWviRVUTggQFqLyCEdb6sYPYdL5jQCB5Pb-Ms05dmQ6Cd1hnL7ZfVCaydqjr245Uqmr2Gt1--1SqrwWVimGYPQ3Bx5ch9ZMpmSpSgajw0BVWzXe8qDmnDYZt9GQwO-JXPFr0ZXudzkm2nPmONLAkdNBSj_SGBPQnyaTIM31EneWhlrYJIyXytSQCbuVqbltDCSAHSBk__Wh3xEjd3eozp58CtG9JVYw5G_5gLtjzUMMSOmYZqF1VetkGd4dnN7JeBr1xTbHTG3A0fnRPzACtQNUZaHeT_14FbDRAInOooXL-2ozWxicRmoRdNGu2YbUcdHQ3J2USxg-TDWTMF1iJE-nUSeQ5UWbPJjqHKYpRrheGOemdwfhhcJlnZzawKtuDfvT60tcGGIlqO42RTDa5LiUKvbbVtq03eiEhqqFP-YSiz30zjQTREB9Xa0n9CDhG-dhkDqCHKkjq-d5p3YDnwua7ivpknNeZyqOmgHghRu4gp-qp59OSja1OwaQzQcku1E5R-jqHmunQSrE5XkcofXbQQegDB5YivRcZbN5ti54xDEtew9Eli_mOOUgrroQPBLdtuvKDEnBwFu_k8ToUhJ3h5WQGu0LAULzxAujPd7COlc_yPrT7XRpWOvq7kqeTLrc",
    }

response = requests.request("GET", url, headers=headers, params=querystring)

In [ ]:
print(response.text)
str(response)

"time","lat","lon","cond","rain","rh","tc_max","tc_min"
"2021-04-30T00:00:00+07:00","13.741","100.5348","3","0","63.97","34.12","26.18"
"2021-05-01T00:00:00+07:00","13.741","100.5348","4","3.8","65.92","34.22","28.12"
"2021-05-02T00:00:00+07:00","13.741","100.5348","3","16.9","67.52","35.34","29.12"
"2021-05-03T00:00:00+07:00","13.741","100.5348","2","12.3","63.94","34.8","29.86"
"2021-05-04T00:00:00+07:00","13.741","100.5348","1","0","58.43","36.87","30.02"
"2021-05-05T00:00:00+07:00","13.741","100.5348","1","0","54.04","37.94","30.39"
"2021-05-06T00:00:00+07:00","13.741","100.5348","1","0","43.06","37.07","29.75"

'<Response [200]>'

In [ ]:
type(response.text)   
data = response.text
data = io.StringIO(data)
df = pd.read_csv(data, sep=",")
#df.head()

str(data)

_io.StringIO

In [ ]:
data = df.applymap(str)
data.dtypes
#data = json.loads(response.text)

#df = pd.read_json (data)
# df
# df.to_csv (r'Path where the new CSV file will be stored\New File Name.csv', index = None)

time      object
lat       object
lon       object
cond      object
rain      object
rh        object
tc_max    object
tc_min    object
dtype: object

In [ ]:
#elevations = response.read()
data = json.loads(elevations)
df = pd.json_normalize(data['results'])

KeyError: ignored

In [ ]:
data['WeatherForecasts'][0]['forecasts'][0]
# df = pd.DataFrame.from_dict(data)
# df

{'data': {'cond': 3, 'rain': 0, 'rh': 63.97, 'tc_max': 34.12, 'tc_min': 26.18},
 'time': '2021-04-30T00:00:00+07:00'}

In [ ]:
data['WeatherForecasts'][0]['forecasts'][1]

{'data': {'cond': 4,
  'rain': 3.8,
  'rh': 65.92,
  'tc_max': 34.22,
  'tc_min': 28.12},
 'time': '2021-05-01T00:00:00+07:00'}

In [ ]:
data['WeatherForecasts'][0]['location']

{'lat': 13.741, 'lon': 100.5348}

In [ ]:
for index in (0, len(data['WeatherForecasts'][0]['forecasts'])):
  print(index)

0
7

In [ ]:
for index in range(0, len(data['WeatherForecasts'][0]['forecasts'])):
  data['WeatherForecasts'][0]['forecasts'][index]['data']['time'] = data['WeatherForecasts'][0]['forecasts'][index]['time']
  del data['WeatherForecasts'][0]['forecasts'][index]['time']
  data['WeatherForecasts'][0]['forecasts'][index]['data']

In [ ]:
df = pd.DataFrame.from_dict(data['WeatherForecasts'][0]['forecasts'][0])
df = df.transpose()
df

     cond rain     rh tc_max tc_min                       time
data    3    0  63.97  34.12  26.18  2021-04-30T00:00:00+07:00

In [ ]:
df2 = pd.DataFrame.from_dict(data['WeatherForecasts'][0]['forecasts'][1])
df2 = df2.transpose()
df2

     rain    rh  tc                       time
data    0  67.8  29  2021-04-29T09:00:00+07:00

In [ ]:
pd.concat([df, df2])

     rain     rh     tc                       time
data    0  72.38  28.12  2021-04-29T08:00:00+07:00
data    0   67.8     29  2021-04-29T09:00:00+07:00